# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Secrets
credentials.yaml
.env

# OS files
.DS_Store
Thumbs.db

# Optional large data files
data/*.csv
